@charset "utf-8";

:root {
  --font1: "pretendard", sans-serif;
  --font2: "Barlow", sans-serif;
  --font3: "Gloock", serif;
  --color1 : #CE0E2D;
}

body { 
  font-family: "Barlow", "pretendard", sans-serif; 
  font-size: 1.6rem; 
  line-height: 1.5; 
  color: #000;  
  overflow-x: hidden; 
}

.inner { 
  padding: 0 20px; 
  max-width: 1640px; 
  margin: 0 auto; 
}

/*header*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 30px 0;
}
header .inner{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 img{
  display: block;
}

nav .gnb{
  display: flex;
}

nav .gnb > li{
    position: relative;
}
nav .gnb > li > a{
    text-transform: uppercase;
    display: block;
    padding: 10px 40px;
    font-size: 2.5rem;
}

nav .gnb > li .depth2{
    position: absolute;
    left: 20px;
    width: 150px;
    background: red;
    padding: 20px;
    display: none;
}

nav .gnb > li .depth2 a{
    color: #fff;
    transition: color 0.5s;
}
nav .gnb > li .depth2 a:hover{
    color: var(--color1);
}

.ham{
    display: none;
    background:  url(../images/ham.svg) no-repeat center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .mgnb-wrap{
    z-index: 999;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #000;
    padding: 80px 20px;
}
header .mgnb > li{
   padding: 20px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .mgnb > li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
header .mgnb > li > a{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}
.mgnb-close{
    background: url(../images/close.png) no-repeat center;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.mdepth2{
    padding: 10px 0 0 20px;
    display: none;
}

.mdepth2 a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    display: block; 
    padding: 3px 0;
}

/*main*/
 #main-visual ul{
    position: relative;
 }
 #main-visual li{
 width: 100%;
 height: 100vh;
 }

#main-visual li:nth-child(1){
 background: url(../images/banner1.jpg) no-repeat center /cover;
}

#main-visual li:nth-child(2){
 background: url(../images/banner2.jpg) no-repeat center /cover;
}

#main-visual li:nth-child(3){
 background: url(../images/banner3.jpg) no-repeat center /cover;
}

.mv-txt{
    position: absolute;
    left: 50%;
    bottom: 200px;
}

#main-visual li strong{
    font-size: 2.5rem;
    font-weight: normal;
}
#main-visual li p{
    font-size: 5rem;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.show-more a{
    background-color: #CE0E2D;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 10px 80px;
    display: inline-block;
    color: #fff;
}

#main-visual .swiper-pagination{
    width: 80%;
    height: 2px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1600px;
    bottom: 90px;
}
#main-visual .swiper-pagination-progressbar-fill{
    background-color: #000;
}
#main-visual .swiper-button-next, #main-visual .swiper-button-prev{
    color: #000;
}

/*main 공통*/
main h2{
    font-size: 8rem;
    font-family: var(--font3);
    text-transform: capitalize;
    color: var(--color1);
    font-weight: 400;
}
main p{
    text-align: center;
    color: #999;
    font-size: 1.8rem;
}

/*prd*/
#prd{
    margin: 150px 0;
}
#prd h2{
    text-align: center;
}
#prd ul{
    width: 100%;
    display: flex;
}
#prd .prd-list{
    margin-top: 30px;
}
#prd ul > li {
    background: linear-gradient(#f8efe6, #fff);
    transform: scale(0.8); 
    transition: transform 1s;
}
#prd ul > li.swiper-slide-active{
    transform: scale(1);
}
#prd ul > li > a img{
    width: 100%;
}
#prd ul > li > a > p{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: #000;
}

/*store*/
#store{
    margin: 200px 0;
}
#store h2{
    text-align: center;
    text-transform: capitalize;
}
#store .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 50px;
}

#store .store-video{
    width: 62%;
}
#store .store-video video{
    width: 100%;
}
#store .store-txt{
    width: 35%;
    margin-top: 50px;
}
#store .store-txt img{
    width: 100%;
}
#store h3 {
    font-family: var(--font3);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 400;
    margin: 30px 0 10px;
    text-align: center;
}
#store .more{
    text-align: center;
}
#store .store-txt a{
    padding: 10px 80px;
    background: var(--color1);
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    font-size: 2rem;
}

/*sns*/
#sns{
    margin: 200px 0;
}

#sns .inner{
    display: grid;
    grid-template-columns: 400px auto;
}

#sns .sns-txt{
    position: sticky;
    top: 100px;
    height: 250px;
}

#sns .sns-txt p{
  text-align: left;
}

#sns .sns-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#sns .sns-list .sns-item img{
    width: 100%;
}
#sns .sns-item{
    color: #999;
    margin-bottom: 100px;
}
#sns .sns-item dl dt{
    color: #000;
    font-size: 2rem;
    padding: 20px 0 10px;
}


#sns .more a{
    padding: 10px 80px;
    background: var(--color1);
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*footer*/
footer{
    background-color: #000;
    padding: 100px 0;
}
footer .f-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 50px;
}
footer .f-top a{
    color: #fff;
}
.call{
    color: #fff;
    font-size: 1.4rem;
}
.call strong{
    font-size: 3rem;
}
.f-list a{
    font-size: 2rem;
}
.service a p{
    font-size: 3rem;
    padding-bottom: 10px;
    font-weight: bold;
}
.service span{
    font-size: 1.4rem;
}
.f-sns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.f-bottom{
    padding-top: 50px;
    color: #fff;
    opacity: 0.5;
}
.f-link{
    display: flex;
    gap: 10px 20px;
}
.f-link a{
    color: #fff;
    opacity: 0.5;
    font-size: 1.4rem;
}
.f-bottom address{
    padding: 20px 0;
    font-size: 1.4rem;
}
.copy{
    font-size: 1.4rem;
    font-family: var(--font1);
}


@media (max-width:1200px){
    nav .gnb{
        display: none;
    }
    .ham{
        display: block;
    }
    header h1 img{
        width: 90px;
        height: 35px;
    }
    #main-visual li:nth-child(1){
    background: url(../images/banner1_mo.jpg) no-repeat center top /cover;
    }

    #main-visual li:nth-child(2){
    background: url(../images/banner2_mo.jpg) no-repeat center top /cover;
    }

    #main-visual li:nth-child(3){
    background: url(../images/banner3_mo.jpg) no-repeat center top /cover;
    }
    #main-visual li strong{
        font-size: 2rem;
    }
    #main-visual li p {
        font-size: 4rem;
    }
    .mv-txt{
    position: absolute;
    left: 50px;
    bottom: 150px;
    }
    .show-more a{
    padding: 10px 60px;
    }
    #prd ul > li > a > p{
      font-size: 2rem;
    }
   main h2{
    font-size: 6.5rem;
   }
   #store{
    position: relative;
   }
   #store .store-video{
    width: 100%;
   }
   #store .store-txt{
    width: 100%;
    margin-top: 50px;
   }
   /*sns*/
   #sns .inner{
    grid-template-columns: 1fr
   }
   #sns .sns-txt{
    position: static;
    text-align: center;
   }
   #sns .sns-txt p{
   text-align: center;
   }
}

@media (max-width:900px){
    #sns .sns-list{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    }
    #sns .sns-list > div:nth-child(3){
        display: none;
    }
}
@media (max-width:576px){
    .show-more a{
    padding: 10px 40px;
    }
    #main-visual li p {
        font-size: 3rem;
    }
    #sns .sns-list{
    grid-template-columns: 1fr;
    }
    #sns .sns-list > div:nth-child(2){
        display: none;
    }
    /*footer*/
    .f-list{
        width: 100%;
        padding-bottom: 20px;
    }
    .service{
        width: 100%;
        padding-bottom: 20px;
    }
    .call{
        width: 100%;
        padding-bottom: 20px;
    }
}




    
